<!-- user -->
<template id='taUserFio'>
	<a href="#" onclick="return false;" class='link_unstyled'>{{first_name}} {{last_name}}</a>
</template>
<template id='taUser'>
	<a href="#" onclick="return false;" class='link_unstyled userDetail'>
		{{if user}}
			<div class='avatar pull-left' style="width:40px">
				<img src="{{ user.avatar | empty('/img/avatar_empty.png') }}" class='img-responsive img-circle'>
			</div>	
			<div style='margin:10% 0;'>{{user.nickname}}</div>
			{{else}}
				<div class='avatar pull-left' style="width:40px">
					<img src="{{ avatar | empty('/img/avatar_empty.png') }}" class='img-responsive img-circle'>	
				</div>
				<div class='mv5'>{{nickname}}</div>	
		{{fi}}	
	</a>
</template>
<template id="taUserStatus">
{{if status == 0}} <span class='text-gray text-nowrap' title='@(Register without confirm)'><i class="fas fa-circle" aria-hidden="true" ></i></span>
	{{else if status == -1}}<span class='text-red text-nowrap' title='@(Removed)'><i class="fas fa-circle" aria-hidden="true" ></i></span>
	{{else if status == 1}}<span class='text-green text-nowrap' title='@(Active)'><i class="fas fa-circle" aria-hidden="true" ></i></span>
	{{else if status == 0}}<span class='text-gray text-nowrap' title='@(Blocked)'><i class="fas fa-circle" aria-hidden="true" ></i></span>
{{fi}}
</template>
<template id="taUserAct">  
	<div class="btn-group">
		<a class="btn btn-default btn-sm edit" href="javascript:void(0)" title="@(Edit user)"><i class="fa fa-edit fa-fw"></i></a>		
		<a class="btn btn-default btn-sm remove" href="javascript:void(0)" title='@(Remove user)'><i class="fa fa-trash-alt fa-fw"></i></a>
	</div>	  
</template>
<template id="taUserRole">
{{if role == 0}} @(Guest)
	{{else if role == 1}}@(Admin)
	{{else if role == 2}}@(Manager)
	{{else if role == 3}}@(User)
	{{else if role == 4}}@(Courier)
{{fi}}
</template>
<template id="taProductAct">  
	<div class="btn-group">
		<a class="btn btn-default btn-sm edit" href="javascript:void(0)" title="@(Edit product)"><i class="fa fa-edit fa-fw"></i></a>		
		<a class="btn btn-default btn-sm remove" href="javascript:void(0)" title='@(Remove product)'><i class="fa fa-trash-alt fa-fw"></i></a>		
	</div>	  
</template>
<template id="taProductThumb"> 
  {{if thumb }}
    <img src="{{thumb}}?thumb=300" class="img-responsive">    
  {{fi}}    
</template>
<template id="taProductStatus">
	{{if status == 0}} <span class='text-orange text-nowrap' title='@(Blocked)'><i class="fas fa-circle" aria-hidden="true" ></i></span>
	{{else if status == -1}}<span class='text-red text-nowrap' title='@(Removed)'><i class="fas fa-circle" aria-hidden="true" ></i></span>
	{{else if status == 1}}<span class='text-green text-nowrap' title='@(Active)'><i class="fas fa-circle" aria-hidden="true" ></i></span>	
	{{else}}<span class='text-gray text-nowrap' title='@(Undefined)'><i class="fas fa-circle" aria-hidden="true" ></i></span>	
{{fi}}
</template> 
