<ul class="sidebar-menu" data-widget="tree" data---="selected__common.page__selector:li;class:active;">
    <li class="header">@(MAIN NAVIGATION)</li>
    <li data-if="dashboard" class='active'>
        <a href="/" class='R'>
            <i class="fas fa-tachometer-alt"></i><span>@(Dashboard)</span>
        </a>
    </li>
    <li data-if="product_search">
        <a href="/product/search" class='R'>
            <i class="fas fa-burger-soda"></i><span>@(Products)</span>
        </a>
    </li>        
    <li data-if="order_search">
        <a href="/order/search" class='R'>
            <i class="fas fa-shopping-basket"></i><span>@(Orders)</span>
        </a>
    </li>    
    <li data-if="user_search">
        <a href="/user/search" class='R'>
            <i class="fas fa-users"></i><span>@(Users)</span>
        </a>
    </li>    
    <li data-if="logout">
        <a href="/logout">
            <i class="fa fa-sign-out"></i><span>@(Logout)</span>
        </a>
    </li> 
</ul>