<!-- dashboard -->
<div data---="page__common.page__if:dashboard;url:/page/dashboard/panel.html;reload:Dashboard/reload"></div> 
<!-- user -->
<div data---="page__common.page__if:user_search;url:/page/user/search.html;reload:UserSearch/reload"></div>
<div data---="page__common.page__if:user_edit;url:/page/user/edit.html;reload:UserEdit/reload"></div>
<div data---="page__common.page__if:product_search;url:/page/product/search.html;reload:ProductSearch/reload"></div> 
<!-- order -->
<div data---="page__common.page__if:order_search;url:/page/order/search.html;reload:OrderSearch/reload"></div> 