<!-- dashboard -->
<div data---="page__common.page__if:dashboard;url:/page/dashboard/panel.html;reload:Dashboard/reload"></div> 
<!-- user -->
<div data---="page__common.page__if:user_search;url:/page/user/search.html;reload:UserSearch/reload"></div> 
<div data---="page__common.page__if:user_create;url:/page/user/create.html;reload:UserCreate/reload"></div> 
<div data---="page__common.page__if:withdraw;url:/page/user/withdraw.html;reload:Withdraw/reload"></div> 
<div data---="page__common.page__if:user_stat;url:/page/user/stat.html;reload:UserStat/reload"></div> 
<!-- artist -->
<div data---="page__common.page__if:artist_search;url:/page/artist/search.html;reload:ArtistSearch/reload"></div> 
<div data---="page__common.page__if:artist_edit;url:/page/artist/edit.html;reload:ArtistEdit/reload"></div> 