@{layout('layout_una')}

<div class="login-box"><!--.login-box -->   
	<div class="login-logo mbn">
		<img src="/img/logo.png" alt="@{G.company.brand}" class='img-responsive'>
	</div>	
	<div class="login-box-body">
		<p class="login-box-msg">@(Log in to start a session)</p>									              		
		<div data-scope="Auth">
		<form action="/login" method="POST" id='frmLogin' class='mb10'> 
			<div class="form-group has-feedback">
            	<div data---="textbox__?.form.login__required:true;placeholder:Login;error:@(Input login);class:form-control;"></div>      
            	<span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
        	</div>
        	<div class="form-group has-feedback">
            	<div data---="textbox__?.form.password__required:true;placeholder:Password;type:password;error:@(Input password);class:form-control;"></div>
            	<span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
        	</div> 
        	<div class="form-group">
            	<div data-jc="error___?.errors"></div>
        	</div>    
        	<div class="row">
	            <div class="col-xs-7">
	                <div class='checkbox'>    
	                    <div data---="checkbox__?.form.autologin">@(Remember me)</div>
	                </div>    
	            </div>    
	            <div class="col-xs-5">	  	            		               
	               <button type="button" data---="click__?.submit__enter:#frmLogin" class="btn btn-primary btn-block" data-bind="?__init:spin">@(Enter)</button>
	            </div>    
        	</div>	
		</form>		
		</div>
		<a href="/fpw" class="text-center">@(Remind password)</a>
	</div>		
</div><!--/.login-box -->   

<script> 
PLUGIN('Auth', function(exports) {			
	exports.submit = function(e) {														
		if (!VALIDATE('?.*')) return;		
		var form = GET('?.form');		
		$(e).button('loading');    
		AJAX('POST /api/user/login', form, function(res, err) {                         
            $(e).button('reset');                                 
            if (err) {  
                SET('?.errors', '@{resource(`!unexpected`)}');            
                return;
            }
            if (res.success) {
                SET('?.errors', null);              
                window.location = '/';
                return;
            }                        
            SET('?.errors', res.error||res);            
        })
	};
});	
</script>
